In [2]:
import pandas as pd

In [4]:
import plotly.express as px

In [3]:

# Load the JSON files
df1 = pd.read_json('statistics_9680.json')
df2 = pd.read_json('statistics_session2.json')

# Combine the DataFrames
combined_df = pd.concat([df1, df2], ignore_index=True)

# Display the combined DataFrame
combined_df.head(10)

   best_score  running_reward  episode  frame_count
0         365      127.631579     7783      4940000
1         365      110.487805     7805      4950000
2         455      109.274194     7826      4960000
3         455      112.839506     7845      4970000
4         495      120.000000     7862      4980000
5         495      120.350000     7882      4990000
6         495      129.550000     7898      5000000
7         495      136.750000     7917      5010000
8         495      130.950000     7937      5020000
9         460      134.650000     7956      5030000

In [ ]:
combined_df['frame_count_k'] = combined_df['frame_count'] / 1000

In [ ]:
px.line(combined_df, y=['best_score', 'running_reward'], x='frame_count_k', 
        title="Training progress", labels={'frame_count_k': 'Frame count, 1000'})